{% extends "base.html.twig" %}
{% block body %}
	<header>
		<nav class="navbar fixed-top navbar-expand-lg navbar-light ">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse div-right " id="navbarTogglerDemo01">
				<img class="logo" src="{{asset('assets/logos/las3dlogo.png')}}"/>
				<div class="container-fluid">
					<div class="row ul-right">

						<ul class="nav navbar-nav ">
							<li class="nav-item ">
								<a class="nav-link" href="{{path('homepage')}}">Accueil
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="active nav-link" href="{{path('societe')}}">Société</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('prestation')}}">Prestations</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('contact')}}">Contact</a>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</nav>

	</header>
	<main>
		<div id="carouselExampleIndicators" class="" data-ride="carousel">
		
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100" src="{{asset('assets/images/societe2.jpg')}}" alt="First slide">
					<div class="carousel-caption d-none d-md-block">
						<a href="#accueil-section2">
							<img class="scroll-animation" src="{{asset('assets/icons/scroll.png')}}"/>
						</a>
					</div>
					<div class="carousel-caption d-none d-md-block">
						<h1 class="nav-title">Société d’externalisation à Madagascar spécialisée dans le traitement des données topographiques et de la Modélisation 3D</h1>
					</div>
					<div class="carousel-caption d-none d-md-block ">
						<h5 class="title-block">Des prestations fournies par et pour les Géomètres Experts et Architectes.</h5>
						<p class="main-title">LAS 3D</p>
						<div class="center-button">
							<button type="button" class="btn btn-main">DEMANDER VOTRE DEVIS</button>
							<button type="button" class="btn btn-main">EN SAVOIR PLUS</button>
						</div>
					</div>
				</div>
			
			</div>
		
		</div>
		<div class="section1" id="accueil-section2" >
			<div class="container text-center" >
				<h1 class="heading-2 main-title2" data-aos="fade-down" data-aos-duration="2000">QUI SOMMES-NOUS ?</h1>
			</div>
		</div>

		<div class="section5" >
			<div class="container-fluid card">
				<div class="row">

					<div class="col-md-9">
						<div class="container-fluids" data-aos='fade-down' data-aos-easing="ease-out-cubic" data-aos-duration="1000">
							<p>
								LAS 3D est la Société d’externalisation à Madagascar spécialisée dans le traitement des données topographiques et 
																																																																																																																								de la Modélisation 3D.
							</p>

							<p>
								A partir de vos données LIDAR, traditionnelles, photogrammétriques, graphiques..., nous réalisons de Plan topographiques 2D
																																																																																																																								 et 3D, Plans d’intérieurs, Plans de toitures,
																																																																																																																								 Plans de façades, Plans de coupes, Plans d’héberges, Plans de lots en copropriété, Plans de lots en lotissement, 
																																																																																																																								 Etat des surfaces réglementaires (SDP, SHOB/SHON, SHAB …), Etat des surfaces contractuelles (SUB/SUN, GLA), Modélisation 3D exploitable en BIM, Maquette numérique de terrain.																																																																																													en faisant face aux enjeux des néo-technologies et en vous proposant le moindre coût de prestation.
							</p>
						</div>
					</div>
					<div data-aos='fade-up' data-aos-duration="1000">
						<img class='logo-white' src="{{asset('assets/icons/logo.png')}}"/>
					</div>
				</div>
			</div>
		</div>
		<div class="section2" id="accueil-section2">
			<div class="container-fluid card">
				<div class="row">
					<div class="col-md-3 title-a" data-aos='fade-up' data-aos-duration="1000">NOTRE VISION et MISSION</div>
					<div class="col-md-9">
						<div class="container-fluids" data-aos='fade-down' data-aos-easing="ease-out-cubic" data-aos-duration="1000">
							<p>
								L’avancé technologique continue de se remonter en flèche et apporte 
																																																																																																																																																																																																																												considérablement ses charités dans la profession des Géomètres – Topographes. 
																																																																																																																																																																																																																												L’acquisition des données, que ce soient de grande quantité, 
																																																																																																																																																																																																																												devient de plus en plus rapide. Relativement, l’équipe effectuant le traitement de
																																																																																																																																																																																																																												 données qui reste une tâche compliquée, doit se développer en ressource humaine pour 
																																																																																																																																																																																																																												 être en adéquation avec l’envergure des données afin de répondre à la satisfaction client
							</p>
							<p>
								LAS 3D se spécialise ainsi dans le traitement des données topographiques pour en faciliter tout en joignant innovation technique, ressources humaines et maitrise juridique

							</p>
							<p>
								D’un autre angle de vue, en répondant aux critères commerciaux exigés
																																																																																																																																																																																																													 par les Géomètres Experts, LAS 3D s’engage de vous rendre plus compétitif sur le marché économique et de vous donner l’opportunité d’augmenter votre volume d’affaire, en offrant une excellente qualité de rendus, en répondant à vos commandes de masses sur une bref durée de réalisation, 
																																																																																																																																																																																																													en faisant face aux enjeux des néo-technologies et en vous proposant le moindre coût de prestation.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section1">
			<div class="container text-center">
				<h1 class="heading-2 main-title2" data-aos="fade-down" data-aos-duration="2000">NOS ATOUTS</h1>
			</div>
		</div>

		<div class="section5" id="accueil-section2">
			<div class="container-fluid card">
				<div class='container'>
					<div class="row">
						<div class="col-md-6">
							<div class="container-fluids" data-aos='fade-down' data-aos-easing="ease-out-cubic" data-aos-duration="1000">
								<p class='atout-text'>Meilleur rapport Qualité-Prix</p>
								<p class='atout-text'>Maitrise des enjeux juridiques et technique des projets</p>
								<p class='atout-text'>TIMING</p>
							</div>
						</div>
						<div class="col-md-6" data-aos='fade-up' data-aos-duration="1000">
							<p class='atout-text'>Professionnalisme</p>
							<p class='atout-text'>Equipe performante</p>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section1">
			<div class="container text-center">
				<h1 class="heading-2 main-title2" data-aos="fade-down" data-aos-duration="2000">LAS 3D WORKFLOWS</h1>
			</div>
		</div>
		<div class="section6">
			<div class="container-fluid card">
				<div class='container-fluid'>
					<div class="row row-margin">
						<div class="col-md-7">
							<div class="container-fluids cards card-blue" data-aos='fade-right' data-aos-easing="ease-out-cubic" data-aos-duration="500">
								<h4 class='title-4'>DEFINITION DE LA MISSION</h4>
								<div class='row'>
									<div class='col-md-2'>
										<div class="d-flex justify-content-center">
											<img class="logo-m" src="{{asset('assets/logos/definition.png')}}"/>
										</div>
									</div>
									<div class='col-md-8'>
										<ul>
											<li>Un interlocuteur dédié
											</li>
											<li>Compréhension des enjeux de la mission
											</li>
											<li>Mobilisation des moyens relativement au volume du projet et à la date de rendu
											</li>
										</ul>
									</div>
									<div class='col-md-2'>
										<img class="logo-m" src="{{asset('assets/logos/un.png')}}"/>
									</div>

								</div>
							</div>
						</div>
						<div class='col-md-5'></div>
					</div>
					<div class="row row-margin">
						<div class='col-md-5'></div>
						<div class="col-md-7">
							<div class="container-fluids cards card-blue" data-aos='zoom-in'  data-aos-duration="500">
								<h4 class='title-4'>RECEPTION DES DONNEES</h4>
								<div class='row'>
									<div class='col-md-2'>
										<div class="d-flex justify-content-center">
											<img class="logo-m" src="{{asset('assets/logos/deux.png')}}"/>
										</div>
									</div>
									<div class='col-md-8'>
										<ul>
											<li>Téléchargement des données à partir de notre serveur FTP
											</li>
											<li>Format des fichiers uploadés : e57, las, rcp, rcs, pts, ptx, …
											</li>
										</ul>
									</div>
									<div class='col-md-2'>
										<img class="logo-m" src="{{asset('assets/logos/reception.png')}}"/>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="row row-margin">
						<div class="col-md-7">
							<div class="container-fluids cards card-blue" data-aos='fade-right' data-aos-easing="ease-out-cubic" data-aos-duration="500">
								<h4 class='title-4'>PREPARATION DES DONNEES</h4>
								<div class='row'>
									<div class='col-md-2'>
										<div class="d-flex justify-content-center">
											<img class="logo-m" src="{{asset('assets/logos/preparation.png')}}"/>
										</div>
									</div>
									<div class='col-md-8'>
										<ul>
											<li>Contrôle des données reçues selon la mission
											</li>
											<li>Import et export des données sous format imp ou rcp/rcs (pour les plans architecturaux | las ou rcp/rcs (pour les plans topo)
											</li>

										</ul>
									</div>
									<div class='col-md-2'>
										<img class="logo-m" src="{{asset('assets/logos/trois.png')}}"/>
									</div>

								</div>
							</div>
						</div>
						<div class='col-md-5'></div>
					</div>
					<div class="row row-margin">
						<div class='col-md-5'></div>
						<div class="col-md-7">
							<div class="container-fluids cards card-blue" data-aos='zoom-in'  data-aos-duration="500">
								<h4 class='title-4'>TRAITEMENT</h4>
								<div class='row'>
									<div class='col-md-2'>
										<div class="d-flex justify-content-center">
											<img class="logo-m" src="{{asset('assets/logos/quatre.png')}}"/>
										</div>
									</div>
									<div class='col-md-8'>
										<ul>
											<li>Répartition des travaux organisée par un chef de projet pour avoir le maximum de rendement
											</li>
											<li>Utilisation des supports disponibles : photo, video, webshare, viewers, …
											</li>
											<li>Respects des normes et usages topo
											</li>
											<li>Respects de vos gabarits et vos chartes graphiques
											</li>
										</ul>
									</div>
									<div class='col-md-2'>
										<img class="logo-m" src="{{asset('assets/logos/traitement.png')}}"/>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="row row-margin">
						<div class="col-md-7">
							<div class="container-fluids cards card-blue" data-aos='fade-right' data-aos-easing="ease-out-cubic" data-aos-duration="500">
								<h4 class='title-4'>CONTROLE QUALITE</h4>
								<div class='row'>
									<div class='col-md-2'>
										<div class="d-flex justify-content-center">
											<img class="logo-m" src="{{asset('assets/logos/controle.png')}}"/>
										</div>
									</div>
									<div class='col-md-8'>
										<ul>
											<li>Contrôle interne des plans réalisés
											</li>
											<li>Contrôle de l’ensemble de la prestation vis-à-vis du cahier de charges et de l’application de la charte graphique
											</li>
											

										</ul>
									</div>
									<div class='col-md-2'>
										<img class="logo-m" src="{{asset('assets/logos/cinq.png')}}"/>
									</div>

								</div>
							</div>
						</div>
						<div class='col-md-5'></div>
					</div>
					<div class="row row-margin">
						<div class='col-md-5'></div>
						<div class="col-md-7">
							<div class="container-fluids cards card-blue" data-aos='zoom-in'  data-aos-duration="500">
								<h4 class='title-4'>LIVRAISON</h4>
								<div class='row'>
									<div class='col-md-2'>
										<div class="d-flex justify-content-center">
											<img class="logo-m" src="{{asset('assets/logos/six.png')}}"/>
										</div>
									</div>
									<div class='col-md-8'>
										<ul>
											<li>Respect du délai
											</li>
											<li>Livraison par mail ou FTP selon la taille des livrables
											</li>
										</ul>
									</div>
									<div class='col-md-2'>
										<img class="logo-m" src="{{asset('assets/logos/livraison.png')}}"/>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

		<!-- section 1-->
		<div class="section1">
			<div class="container text-center">
				<h1 class="heading-1 main-title" data-aos="fade-down" data-aos-duration="2000">NOTRE EQUIPE</h1>

			</div>
			<div class='section-realisation'>
				<div
					class='container'>
					<!--gallery1-->
					<div class="row" data-aos='zoom-in-up' data-aos-duration="1000">
						<div class='col-md-3'></div>
						<div class="col-md-2">

							<div class="hovereffect">
								<img class="img-circle profil" src="{{asset('assets/images/profil2.jpg')}}" alt="Nature" style="width:100%" alt="">
								<div class="overlay">
									<h2>Tiana fabien heriniaina</h2>
									<p>
										<a>Directeur - Dessinateur</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-2">

							<div class="hovereffect">
								<img class="img-responsive profil" src="{{asset('assets/images/profil2.jpg')}}" alt="Nature" style="width:100%" alt="">
								<div class="overlay">
									<h2>Tiana fabien heriniaina</h2>
									<p>
										<a>Directeur - Dessinateur</a>
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-2">

							<div class="hovereffect">
								<img class="img-responsive profil" src="{{asset('assets/images/profil2.jpg')}}" alt="Nature" style="width:100%" alt="">
								<div class="overlay">
									<h2>Tiana fabien heriniaina</h2>
									<p>
										<a>Directeur - Dessinateur</a>
									</p>
								</div>
							</div>
						</div>
						<div class='col-md-3'></div>
					</div>
				</div>
			</div>
		</div>
		<div class="section4 bg-dark footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4" data-aos='zoom-in-up' data-aos-duration="1000">
						<img class='logo-pm' src="{{asset('assets/logos/geolocalisation.png')}}"/>
						<p class="white">LAS 3D</p>
						<p class="white">83 BA Ampitatafika</p>
						<p class="white">102 Antananarivo - Madagascar</p>
					</div>
					<div class="col-md-4" data-aos='zoom-in-up' data-aos-duration="1000">
						<img class='logo-pm' src="{{asset('assets/logos/email-logo.png')}}"/>
						<p class="white">contact@las3d.com</p>
						<p class="white"></p>
						<p class="white">Mention legal | © 2020</p>
					</div>
					<div class="col-md-4" data-aos='zoom-in-up' data-aos-duration="500">
						<img class="logo-gm" src="{{asset('assets/logos/las3dlogo.png')}}"/>
						<div class='row'>
							<div class='col-md-3'>
								<img class="logo-m" src="{{asset('assets/logos/fb.png')}}"/>
							</div>
							<div class='col-md-3'>
								<img class="logo-m" src="{{asset('assets/logos/twitter.png')}}"/>
							</div>
							<div class='col-md-3'>
								<img class="logo-m" src="{{asset('assets/logos/linkedin.png')}}"/>
							</div>
							<div class='col-md-3'>
								<img class="logo-m" src="{{asset('assets/logos/instagram.png')}}"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</main>
	<footer></footer>
{% endblock %}

