{% extends "base.html.twig" %}
{% block body %}
	<div class="modal" id="modal" tabindex="999" role="dialog">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					 <div class="container">
					<h5 class="modal-title">DEMANDER VOTRE DEVIS</h5>
					</div>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
							<div class="container">
						<div class="row">
								<div class="col-md-8">
									<div class="form-group">
										<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nom">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Adresse">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Vore Société ">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" id="exampleInputPassword1" placeholder="Téléphone">
									</div>
									<div class="form-group">
										<input type="email" class="form-control" id="exampleInputPassword1" placeholder="Email">
									</div>
									<div class="form-group">
										<textArea placeholder="Message" class="form-control"></textArea>
									</div>
									<div class="form-group">
										<label for="exampleFormControlFile1">Pièce jointe</label>
										<input type="file" class="form-control-file" id="exampleFormControlFile1">
									</div>
								</div>
								<div class="col-md-4">
								<img class="img-fluid" src="{{asset('assets/logos/logo.png')}}"/>
								</div>
							</div>
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success">Envoyer</button>
				</div>
			</div>
		</div>
	</div>
	<header>
		<nav class="navbar fixed-top navbar-expand-lg navbar-light ">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse div-right " id="navbarTogglerDemo01">
				<img class="logo-min" src="{{asset('assets/logos/logo.png')}}"/>
				<div class="container-fluid">
					<div class="row ul-right">

						<ul class="nav navbar-nav ">
							<li class="nav-item ">
								<a class="nav-link" href="{{path('homepage')}}">Accueil
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="active nav-link" href="{{path('societe')}}">Société</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('prestation')}}">Prestations</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{path('contact')}}">Contact</a>
							</li>

						</ul>
					</div>
				</div>
			</div>
		</nav>

	</header>
	<main>
		<div id="carouselExampleIndicators" class="" data-ride="carousel">
		
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img class="d-block w-100" src="{{asset('assets/images/societe2.jpg')}}" alt="First slide">
					<div class="carousel-caption d-none d-md-block">
						<a href="#accueil-section2">
							<img class="scroll-animation" src="{{asset('assets/icons/scroll.png')}}"/>
						</a>
					</div>
					<div class="carousel-caption d-none d-md-block">
						<h1 class="nav-title">Société d’externalisation à Madagascar spécialisée dans le traitement des données topographiques et de la Modélisation 3D</h1>
					</div>
					<div class="carousel-caption d-none d-md-block ">
						<h5 class="title-block">Des prestations fournies par et pour les Géomètres Experts et Architectes.</h5>
						<p class="main-title">LAS 3D</p>
						<div class="center-button">
							<button type="button" class="btn btn-main Devis">DEMANDER VOTRE DEVIS</button>
							<button type="button" class="btn btn-main">EN SAVOIR PLUS</button>
						</div>
					</div>
				</div>
			
			</div>
		
		</div>
		<div class="section1" id="accueil-section2" >
			<div class="container text-center" >
				<h1 class="heading-2 main-title2" data-aos="fade-down" data-aos-duration="2000">QUI SOMMES-NOUS ?</h1>
			</div>
		</div>

		<div class="section5" >
			<div class="container-fluid card">
				<div class="row">

					<div class="col-md-9">
						<div class="container-fluids" data-aos='fade-down' data-aos-easing="ease-out-cubic" data-aos-duration="1000">
							<p>
								LAS 3D est la Société d’externalisation à Madagascar spécialisée dans le traitement des données topographiques et 
																																																																																																																								de la Modélisation 3D.
							</p>

							<p>
								A partir de vos données LIDAR, traditionnelles, photogrammétriques, graphiques..., nous réalisons de Plan topographiques 2D
																																																																																																																								 et 3D, Plans d’intérieurs, Plans de toitures,
																																																																																																																								 Plans de façades, Plans de coupes, Plans d’héberges, Plans de lots en copropriété, Plans de lots en lotissement, 
																																																																																																																								 Etat des surfaces réglementaires (SDP, SHOB/SHON, SHAB …), Etat des surfaces contractuelles (SUB/SUN, GLA), Modélisation 3D exploitable en BIM, Maquette numérique de terrain.																																																																																													en faisant face aux enjeux des néo-technologies et en vous proposant le moindre coût de prestation.
							</p>
						</div>
					</div>
					<div data-aos='fade-up' data-aos-duration="1000">
						<img class='logo-white' src="{{asset('assets/images/plan1.jpg')}}"/>
					</div>
				</div>
			</div>
		</div>
		<div class="section2" id="accueil-section2">
			<div class="container-fluid card">
				<div class="row">
					<div class="col-md-3 title-a" data-aos='fade-up' data-aos-duration="1000">NOTRE VISION et MISSION</div>
					<div class="col-md-9">
						<div class="container-fluids" data-aos='fade-down' data-aos-easing="ease-out-cubic" data-aos-duration="1000">
							<p>
								L’avancé technologique continue de se remonter en flèche et apporte 
																																																																																																																																																																																																																												considérablement ses charités dans la profession des Géomètres – Topographes. 
																																																																																																																																																																																																																												L’acquisition des données, que ce soient de grande quantité, 
																																																																																																																																																																																																																												devient de plus en plus rapide. Relativement, l’équipe effectuant le traitement de
																																																																																																																																																																																																																												 données qui reste une tâche compliquée, doit se développer en ressource humaine pour 
																																																																																																																																																																																																																												 être en adéquation avec l’envergure des données afin de répondre à la satisfaction client
							</p>
							<p>
								LAS 3D se spécialise ainsi dans le traitement des données topographiques pour en faciliter tout en joignant innovation technique, ressources humaines et maitrise juridique

							</p>
							<p>
								D’un autre angle de vue, en répondant aux critères commerciaux exigés
																																																																																																																																																																																																													 par les Géomètres Experts, LAS 3D s’engage de vous rendre plus compétitif sur le marché économique et de vous donner l’opportunité d’augmenter votre volume d’affaire, en offrant une excellente qualité de rendus, en répondant à vos commandes de masses sur une bref durée de réalisation, 
																																																																																																																																																																																																													en faisant face aux enjeux des néo-technologies et en vous proposant le moindre coût de prestation.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="section1">
			<div class="container text-center">
				<h1 class="heading-2 main-title2" data-aos="fade-down" data-aos-duration="2000">NOS VALEURS</h1>
			</div>
		</div>

		<div class="section5" id="accueil-section2">
			<div class="container-fluid card">
				<div class='container'>
					<div class="row">
						<div class="col-md-6">
							<div class="container-fluids" data-aos='fade-down' data-aos-easing="ease-out-cubic" data-aos-duration="1000">
								<p class='atout-text green'>Passion</p>
								<p class='atout-text justify'>La passion, c’est le cœur de l’ADN des équipes de LAS 3D permettant de dépasser nos limites 
								pour atteindre l’excellence. C’est l’élément essentiel à l’expression de nos talents.</p>
							</div>
						</div>
						<div class="col-md-6" data-aos='fade-up' data-aos-duration="1000">
							<p class='atout-text green'>Talent</p>
							<p class='atout-text justify'>Passionné, innovateur et expert, nos équipes expriment à toutes épreuves leurs talents pour 
							atteindre l’objectif de satisfaire notre clientèle. Ce qui valorise notre esprit d’équipe.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="container-fluids" data-aos='fade-down' data-aos-easing="ease-out-cubic" data-aos-duration="1000">
								<p class='atout-text green'>Esprit d’équipe</p>
								<p class='atout-text justify'>Focalisés sur un même objectif d’atteindre la satisfaction client, formés de travailler en équipe, avec leurs talents et savoir-faire, nos collaborateurs développent constamment un esprit d’équipe ingénieux. 
								Ce dernier qui nous permet d’assurer l’uniformité et la rapidité dans notre production.</p>
							</div>
						</div>
						<div class="col-md-6" data-aos='fade-up' data-aos-duration="1000">
							<p class='atout-text green'>Conscience professionnelle</p>
							<p class='atout-text justify'>Nos ingénieurs, géomètres topographes et architectes ont la conscience de tous les enjeux dans nos missions, que ce soient juridiques, techniques ou sur le timing. C’est la valeur
							 que nous avons investie pour avoir une excellente qualité de rendu sur une courte durée de production.</p>
						</div>
					</div>
					<div class="row">
					<div class="container">
							<div class="container-fluids center" data-aos='fade-down' data-aos-easing="ease-out-cubic" data-aos-duration="1000">
								<p class='atout-text green center'>Excellence</p>
								<p class='atout-text justify'>A la recherche permanente d’une excellente qualité de service et d’un excellent rendement. L’excellence, c’est l’image 
								que LAS 3D veut toujours avoir aux yeux de ses clients.</p>
							</div>
					</div>
					</div>
				</div>
			</div>
		</div>
				<div class="section1">
			<div class="container text-center">
				<h1 class="heading-2 main-title2" data-aos="fade-down" data-aos-duration="2000">NOS ATOUTS</h1>
				<p class='center'>Ils nous permettent d’établir un climat de confiance mutuelle dans une relation gagnant-gagnant avec nos clients afin de parvenir sur une collaboration à long terme.</p>
			</div>
		</div>

		<div class="section5" id="accueil-section2">
			<div class="container-fluid card">
				<div class='container'>
					<div class="row">
						<div class="col-md-6">
							<div class="container-fluids" data-aos='fade-down' data-aos-easing="ease-out-cubic" data-aos-duration="1000">
								<p class='atout-text green'>Meilleur ratio Qualité/Prix</p>
								<p class='atout-text justify'>Un maximum de qualité des rendus avec un minimum de coût de production.</p>
							</div>
						</div>
						<div class="col-md-6" data-aos='fade-up' data-aos-duration="1000">
							<p class='atout-text green'>Privilège</p>
							<p class='atout-text justify'>Nos clients sont privilégiés d’une offre compétitive sur leurs marchés nationaux et avoir l’opportunité d’accroitre leur volume 
							d’affaire en ne limitant pas leurs actions commerciales.</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="container-fluids" data-aos='fade-down' data-aos-easing="ease-out-cubic" data-aos-duration="1000">
								<p class='atout-text green'>Professionnalisme</p>
								<p class='atout-text justify'>Maitrise des enjeux juridiques et technique des projets.</p>
							<p class='atout-text justify'>Méthode de travail bien structurée</p>
							<p class='atout-text justify'>Excellente qualité de service dans une courte durée de production</p>
							<p class='atout-text justify'>Stricte respect du délai de production.</p>
							</div>
						</div>
						<div class="col-md-6" data-aos='fade-up' data-aos-duration="1000">
							<p class='atout-text green'>Engagement</p>
							<p class='atout-text justify'>Respect et honnêteté envers nos clients qui nous ont accordé leurs confiances</p>
							<p class='atout-text justify'>Communication en temps réel avec nos clients à chaque étape du traittement.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section1">
			<div class="container text-center">
				<h1 class="heading-2 main-title2" data-aos="fade-down" data-aos-duration="2000">LAS 3D WORKFLOWS</h1>
			</div>
		</div>
		<div class="section6">
			<div class="container-fluid card">
				<div class='container-fluid'>
					<div class="row row-margin">
						<div class="col-md-7">
							<div class="container-fluids cards card-blue" data-aos='fade-right' data-aos-easing="ease-out-cubic" data-aos-duration="500">
								<h4 class='title-4'>DEFINITION DE LA MISSION</h4>
								<div class='row'>
									<div class='col-md-2'>
										<div class="d-flex justify-content-center">
											<img class="logo-m" src="{{asset('assets/logos/definition.png')}}"/>
										</div>
									</div>
									<div class='col-md-8'>
										<ul>
											<li>Un interlocuteur dédié
											</li>
											<li>Compréhension des enjeux de la mission
											</li>
											<li>Mobilisation des moyens relativement au volume du projet et à la date de rendu
											</li>
										</ul>
									</div>
									<div class='col-md-2'>
										<img class="logo-m" src="{{asset('assets/logos/un.png')}}"/>
									</div>

								</div>
							</div>
						</div>
						<div class='col-md-5'></div>
					</div>
					<div class="row row-margin">
						<div class='col-md-5'></div>
						<div class="col-md-7">
							<div class="container-fluids cards card-blue" data-aos='zoom-in'  data-aos-duration="500">
								<h4 class='title-4'>RECEPTION DES DONNEES</h4>
								<div class='row'>
									<div class='col-md-2'>
										<div class="d-flex justify-content-center">
											<img class="logo-m" src="{{asset('assets/logos/deux.png')}}"/>
										</div>
									</div>
									<div class='col-md-8'>
										<ul>
											<li>Téléchargement des données à partir de notre serveur FTP
											</li>
											<li>Format des fichiers uploadés : e57, las, rcp, rcs, pts, ptx, …
											</li>
										</ul>
									</div>
									<div class='col-md-2'>
										<img class="logo-m" src="{{asset('assets/logos/reception.png')}}"/>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="row row-margin">
						<div class="col-md-7">
							<div class="container-fluids cards card-blue" data-aos='fade-right' data-aos-easing="ease-out-cubic" data-aos-duration="500">
								<h4 class='title-4'>PREPARATION DES DONNEES</h4>
								<div class='row'>
									<div class='col-md-2'>
										<div class="d-flex justify-content-center">
											<img class="logo-m" src="{{asset('assets/logos/preparation.png')}}"/>
										</div>
									</div>
									<div class='col-md-8'>
										<ul>
											<li>Contrôle des données reçues selon la mission
											</li>
											<li>Import et export des données sous format imp ou rcp/rcs (pour les plans architecturaux | las ou rcp/rcs (pour les plans topo)
											</li>

										</ul>
									</div>
									<div class='col-md-2'>
										<img class="logo-m" src="{{asset('assets/logos/trois.png')}}"/>
									</div>

								</div>
							</div>
						</div>
						<div class='col-md-5'></div>
					</div>
					<div class="row row-margin">
						<div class='col-md-5'></div>
						<div class="col-md-7">
							<div class="container-fluids cards card-blue" data-aos='zoom-in'  data-aos-duration="500">
								<h4 class='title-4'>TRAITEMENT</h4>
								<div class='row'>
									<div class='col-md-2'>
										<div class="d-flex justify-content-center">
											<img class="logo-m" src="{{asset('assets/logos/quatre.png')}}"/>
										</div>
									</div>
									<div class='col-md-8'>
										<ul>
											<li>Répartition des travaux organisée par un chef de projet pour avoir le maximum de rendement
											</li>
											<li>Utilisation des supports disponibles : photo, video, webshare, viewers, …
											</li>
											<li>Respects des normes et usages topo
											</li>
											<li>Respects de vos gabarits et vos chartes graphiques
											</li>
										</ul>
									</div>
									<div class='col-md-2'>
										<img class="logo-m" src="{{asset('assets/logos/traitement.png')}}"/>
									</div>

								</div>
							</div>
						</div>
					</div>
					<div class="row row-margin">
						<div class="col-md-7">
							<div class="container-fluids cards card-blue" data-aos='fade-right' data-aos-easing="ease-out-cubic" data-aos-duration="500">
								<h4 class='title-4'>CONTROLE QUALITE</h4>
								<div class='row'>
									<div class='col-md-2'>
										<div class="d-flex justify-content-center">
											<img class="logo-m" src="{{asset('assets/logos/controle.png')}}"/>
										</div>
									</div>
									<div class='col-md-8'>
										<ul>
											<li>Contrôle interne des plans réalisés
											</li>
											<li>Contrôle de l’ensemble de la prestation vis-à-vis du cahier de charges et de l’application de la charte graphique
											</li>
											

										</ul>
									</div>
									<div class='col-md-2'>
										<img class="logo-m" src="{{asset('assets/logos/cinq.png')}}"/>
									</div>

								</div>
							</div>
						</div>
						<div class='col-md-5'></div>
					</div>
					<div class="row row-margin">
						<div class='col-md-5'></div>
						<div class="col-md-7">
							<div class="container-fluids cards card-blue" data-aos='zoom-in'  data-aos-duration="500">
								<h4 class='title-4'>LIVRAISON</h4>
								<div class='row'>
									<div class='col-md-2'>
										<div class="d-flex justify-content-center">
											<img class="logo-m" src="{{asset('assets/logos/six.png')}}"/>
										</div>
									</div>
									<div class='col-md-8'>
										<ul>
											<li>Respect du délai
											</li>
											<li>Livraison par mail ou FTP selon la taille des livrables
											</li>
										</ul>
									</div>
									<div class='col-md-2'>
										<img class="logo-m" src="{{asset('assets/logos/livraison.png')}}"/>
									</div>

								</div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div class="section4 bg-dark footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4" data-aos='zoom-in-up' data-aos-duration="1000">
						<h5 class="white">Contactez-nous</h5>
						<p class="white">Adresse : 0708 G 55 Ter Ambohimena
						</p>
						<p class="white">Sud, Route d’Ambositra, Antsirabe 110</p>
						<p class="white">Téléphone : +261 34 33 734 73</p>
						<p class="white">Email :
							<span class="green">contacte@las-3d.com</span>
						</p>
					</div>
					<div class="col-md-4" data-aos='zoom-in-up' data-aos-duration="1000">
						<p class="white">LAS 3D – En savoir plus</p>
						<p class="white justify">LAS 3D est la Société d’externalisation à Madagascar spécialisée dans le traitement des données géographiques et de la Modélisation 3D.</p>
						<p class="white">Surpassez vos limites d’action commerciale.
							Valorisez vos nouvelles technologies.
							Réduisez vos prix de prestations.
						</p>
						<p class="white">Avec une équipe de talents passionnés qui vous rend plus compétitif sur votre marché national</p>
					</div>
					<div class="col-md-4 div-center" data-aos='zoom-in-up' data-aos-duration="500">
						<img class="logo-gm down" src="{{asset('assets/logos/logo.png')}}"/>
						<div class='row'>
							<div class='col-md-3'>
								<img class="logo-m" src="{{asset('assets/logos/fb.png')}}"/>
							</div>
							<div class='col-md-3'>
								<img class="logo-m" src="{{asset('assets/logos/twitter.png')}}"/>
							</div>
							<div class='col-md-3'>
								<img class="logo-m" src="{{asset('assets/logos/linkedin.png')}}"/>
							</div>
							<div class='col-md-3'>
								<img class="logo-m" src="{{asset('assets/logos/instagram.png')}}"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</main>
	<footer></footer>
	<script src="{{asset('assets/dist/js/jquery.min.js')}}"></script>
	<script src="{{asset('assets/dist/js/bootstrap.min.js')}}"></script>
	<script>
		$(document).ready(function () {
$('.modal').modal({dismissible: true});
$('.Devis').click(function () {
$('#modal').modal('open');
})
$('.close').click(function () {
$('#modal').modal('close');
})
})
	</script>
{% endblock %}

