<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}G-CODE
			{% endblock %}
		</title>
		{% block stylesheets %}
			<!-- custom css -->
			<link rel='stylesheet' href="{{ asset('assets/css/contactpage.css') }}"/>
			<link rel='stylesheet' href="{{ asset('assets/css/homepage.css') }}"/>

			<link
			rel='stylesheet' href="{{ asset('assets/css/title2d.css')}}"/>
			<!-- bootstrap css -->
			<link rel='stylesheet' href="{{ asset('assets/css/bootstrap.css')}}"/>

		{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
