<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="icon" href="{{asset('assets/icons/logo.jpg')}}">
		<title>
			{% block title %}
				LAS 3D
			{% endblock %}
		</title>
		<!-- material -->

		<!-- image csss -->
		<link
		rel="stylesheet" href="{{asset('assets/css/image.css')}}"/>
		<!-- custom csss -->
		<link
		rel="stylesheet" href="{{asset('assets/css/custom.css')}}"/>

		<!-- bootstrap css -->
		<link rel="stylesheet" href="{{asset('assets/dist/css/bootstrap.min.css')}}"> {% block stylesheets %}{% endblock %}

		<!-- aos csss -->
		<link rel="stylesheet" href="{{asset('assets/css/aos.css')}}"/>

	</head>
	<body>
		{% block body %}{% endblock %}
		<script src="{{asset('assets/dist/js/jquery.min.js')}}"></script>
		<script src="{{asset('assets/dist/js/bootstrap.min.js')}}"></script>
		<script src="{{asset('assets/js/materialize.js')}}"></script>
		<script src="{{asset('assets/js/carousel.js')}}"></script>
		<script src="{{asset('assets/js/aos.js')}}"></script>


		{% block javascripts %}
			<script>
				$(document).ready(function () {
AOS.init();
// Add smooth scrolling to all links
$("a").on('click', function (event) { // Make sure this.hash has a value before overriding default behavior
if (this.hash !== "") { // Prevent default anchor click behavior
event.preventDefault();

// Store hash
var hash = this.hash;

// Using jQuery's animate() method to add smooth page scroll
// The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
$('html, body').animate({
scrollTop: $(hash).offset().top
}, 800, function () { // Add hash (#) to URL when done scrolling (default click behavior)
window.location.hash = hash;
});
} // End if
});
});
			</script>

		{% endblock %}
	</body>
</html>
